{% extends "coder/index.html" %}
{% block title %}Detalle del Curso | Mi Proyecto Django{% endblock %}
{% block content %}
<div class="container my-5">
  <div class="card shadow p-4 mx-auto" style="max-width: 600px;">
    <h3 class="text-center mb-3">{{ curso.nombre_curso }}</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Comisión:</strong> {{ curso.comision }}</li>
      <li class="list-group-item"><strong>Código:</strong> {{ curso.code }}</li>
      <li class="list-group-item"><strong>Fecha de creación:</strong> {{ curso.datetime_added|date:"d/m/Y H:i" }}</li>
    </ul>
    <div class="text-center mt-4">
      <a href="{% url 'curso_edit' curso.code %}" class="btn btn-warning text-white">Editar</a>
      <a href="{% url 'curso_list' %}" class="btn btn-secondary">Volver</a>
    </div>
  </div>
</div>
{% endblock %}